#footer {
	text-align: center;
	margin-top: 50px;
}

table#atividades {
	margin-top: 40px;
}

div.periodo {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

div.periodo label {
	margin-left: 50px;
	margin-right: 50px;
}

div.periodo span {
	cursor: pointer;
}