sistema/plano-trabalho/.metadata
sistema/plano-trabalho/.settings
sistema/plano-trabalho/.classpath
sistema/plano-trabalho/.project
sistema/plano-trabalho/target
*.class
*.jar
*.war
*.ear
*.log
